:root {
  --animation-delay: 500ms;
}

@supports (animation-delay: calc(var(--animation-delay) * 0.5)) {
  .title,
  .service-info,
  .stat-numbers,
  .stat-name {
    opacity: 0;
    transform: translateY(-20%);
    animation: fade-in__from-top 500ms ease-out forwards;
  }

  .title {
    animation-delay: calc(var(--animation-delay) * 0.5);
  }

  .service-info {
    animation-delay: calc(var(--animation-delay) * 1.5);
  }

  .stat-numbers {
    animation-delay: calc(var(--animation-delay) * 2.5 + 100ms);
  }

  .stat-name {
    animation-delay: calc(var(--animation-delay) * 2.5 + 100ms);
  }
}

.img-section::before {
  animation: color-transition 400ms ease-out 1900ms forwards;
}

@media (min-width: 1000px) {
  .img-section::before {
    animation: color-transition 400ms ease-out 1900ms forwards;
  }
}

/* KEYFRAMES */

@keyframes fade-in__from-top {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes color-transition {
  from {
    background-color: hsla(276, 81%, 47%, 1);
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
}
