body {
  background-color: hsl(233, 47%, 7%);
  color: hsla(0, 0%, 100%, 0.75);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(244, 38%, 16%);
}

.img-section {
  width: 100%;
}

.stats-area {
  display: flex;
  justify-content: space-between;
}

.stat-name {
  color: hsla(0, 0%, 100%, 0.6);
}

.title::selection,
.stat-numbers::selection {
  color: hsl(277, 64%, 61%);
}

.violet {
  color: hsl(277, 64%, 61%);
}

@media (min-width: 62.50097657em) {
  .card {
    height: 64% !important;
    min-height: 390px !important;
    max-height: 480px !important;

    width: 80% !important;
    max-width: 1140px !important;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
}

@media (min-width: 32.5005078164em) and (max-width: 62.50097656em) {
  .card {
    border-radius: 9px;
  }
}

/* ANIMATIONS */

.title,
.service-info,
.stat-numbers,
.stat-name {
  opacity: 0;
  transform: translateY(-20%);
  animation: fade-in__from-top 500ms ease-out forwards;
}

.title        { animation-delay: 0.25s }
.service-info { animation-delay: 0.75s }
.stat-numbers { animation-delay: 1.35s }
.stat-name    { animation-delay: 1.35s }
