body{
    background-color: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
main.card{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
}
.img-section{
    width: 100%;
}
.stats-area {
    display: flex;
    justify-content: space-between;
}
h5.stat-name{
    color: hsla(0, 0%, 100%, 0.6);
}

@media (min-width: 62.50097657em){
    main.card{
        height: 64%;
    }
    .content-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }
}
@media (min-width: 32.5005078164em) and (max-width: 62.50097656em) {
    main.card{
        border-radius: 9px;
    }
}



/* ANIMATIONS */

h1.title,
p.subtitle,
h2.stats,
h5.stat-name{
    opacity: 0;
    transform: translateY(-20%);
    animation: fade-in__from-top 500ms ease-out forwards;
}

h1.title{
    animation-delay: 0.25s;
}

p.subtitle{
    animation-delay: 0.75s;
}

h2.stats{
    animation-delay: 1.35s;
}

h5.stat-name{
    animation-delay: 1.35s;
}