@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
@import url(./fallbacks.css);
@import url(./animations.css);
/* I know using @import is not the best way when it comes to performance. 
   But, in this project for simplicity, I'm going with this. 
   And also I'm pretty used to sass syntax so🤷‍♂️ */

:root {
  --dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --slight-transparent-white: hsla(0, 0%, 100%, 0.75);
  --translucent-white: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 889px;
  background-color: var(--dark-blue);
  font-family: "Inter", sans-serif;
  text-align: center;
  color: var(--slight-transparent-white);
}

.card {
  height: auto;
  width: 325px;
  min-height: fit-content;

  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  overflow: hidden;

  transition: transform 0.2s ease-in-out;
  box-shadow: 4px 4px 20px rgba(12, 12, 12, 0.507);

  filter: blur(0px);/*👈 bug(fixed) ~ in tablet, on hover, the image overlay breaks a tiny bit
                      on the bottom side, and, unfiltered blurry image is exposed*/
}
  .card:hover { transform: scale(1.018) }

.img-section {
  position: relative;

  width: clamp(300px, 100%, 340px);
  height: 240px;

  background: url(../images/image-header-mobile.jpg) center center no-repeat;
  background-size: 110% 110%;
  overflow: hidden;
}

  .img-section::before,
  .img-section::after {
    position: absolute;
    content: "";

    width: 100%;
    height: 100%;
    inset: 0;

    filter: brightness(76%) saturate(81%) contrast(110%);
  }

  /*  IMAGE OVERLAY - for animation */
  .img-section::before {
    background-color: hsla(276, 81%, 47%, 1);
    z-index: 100;
  }

  /*  IMAGE FILTER OVERLAY*/
  .img-section::after {
    background-color: hsla(276, 81%, 47%, 0.561);
    background-blend-mode: multiply;
    z-index: 99;
  }

.content-section {
  padding: 2rem;
  background-color: inherit;
}

.stats-area {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}

.title {
  margin-top: 8.5px;

  font-size: 1.9rem;
  font-weight: 700;
  color: white;
}

.service-info {
  line-height: 1.7rem;
}

.violet { /*  Helper class */
  color: var(--soft-violet);
}

.stat-numbers {
  margin-bottom: 0;
  font-size: 1.4rem;
  color: white;
}

.stat-name {
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;

  font-size: 0.74rem;
  font-weight: normal;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--translucent-white);
}

.stat-name.queries { margin-bottom: 0 }

/* RESPONSIVE - DESKTOP*/ /*approx. 1000px */
@media (min-width: 62.50097657em) {
  body {
    height: 97vh;
    min-height: 97vh;
    text-align: left;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;

    width: min(1440, 80%);
    height: clamp(390px, 64%, 580px);

    border-radius: 9px;
  }

  .img-section {
    width: 50%;
    height: auto;
    min-width: 49%;

    background: url(../images/image-header-desktop.jpg);
    background-size: cover;
  }

  .content-section {
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: 1fr;

    width: 50%;
    margin: 2% 3.7% 0% 4%;
    padding: 2.967%;
  }

  .title {
    margin-bottom: 0px;
    margin-top: 1.496%;
    font-size: 2.15rem;
  }

  .service-info {
    padding-right: 10%;
    font-size: 0.94rem;
    line-height: 1.6rem;
  }

  .stats-area {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

/* TABLET */ /* min: 520px, Max: 1000px */
@media (min-width: 32.5005078164em) and (max-width: 62.50097656em) {
  .card {
    width: 80%;
    max-width: 500px;
    max-height: 700px;
  }

  .img-section {
    width: 100%;
    height: 290px;

    background: url(../images/image-header-desktop.jpg);
    background-size: cover;
  }

  .content-section {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    padding-top: 1.6rem;
  }

  .stats-area {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

/* SELECTION STYLES*/

::selection { color: white; background-color: hsla(233, 49%, 7%, 0.4) }

.title::selection,.stat-numbers::selection { color: var(--soft-violet) }

.violet::selection { color: white }
